#last
{
  display:none;
  position:fixed;
  bottom:0px;
  right:0px;
  width:200px;
}

#last img
{
    padding-right:5px;
}

#last p
{
  float:left;
}

#last div
{
  margin:16px;
}